.card {
  padding: 1rem;
  border: 1px solid #ebeef1;
  border-radius: 8px;
  margin: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hr {
  border: 1px solid #ebeef1;
}
